<script> console.log("Hello") </script>
<% if @sellings.nil? %>
	<%= t('list_is_empty') %>
<% else %>
	<table class="table">
	<thread>
		  <tr>
	    <td width="100px"><%= t('id') %></td>
	    <td width="200px"><%= t('name') %></td>
	    <td width="100px"><%= t('.date') %></td>
	    <td width="100px"><%= t('amount') %></td>
	    <td width="100px"><%= t('price') %></td>
	    <td width="100px"><%= t('sum') %></td>
	    <td width="100px"><%= t('edit') %></td>
	    <td><%= t('destroy') %></td>
	  </tr>
	</thread>
	<tbody>
	  	<% @sellings.preload(:product).each do |selling| %>
		    <tr>
		      <td><%= selling.id %></td>
		      <td><%= link_to "#{selling.product.name}", selling_path(selling) %></td>
		      <td><%= selling.created_at.to_s[0..9] %></td>
		      <td><%= selling.amount %></td>
		      <td><%= selling.product.cost %></td>
		      <td><%= selling.product.cost * selling.amount %></td>
		      <td><%= button_to t('edit'), edit_selling_path(selling), :method => :get %></td>
		      <td><%= button_to t('delete'), selling_path(selling), :method => :delete,
		                                                            data: {confirm: t('ensure_action')} %></td>
		    </tr>
	  	<% end %>
	</tbody>
</table>
<% end %>