<p>
	<h1><%= t('.welcome') %></h1>
</p>

<p>
	<a>
		<%= link_to t('model.product.many'), products_path %>
	</a>
	<a>
		<%= link_to t('model.stock_unit.many'), stock_units_path %>
	</a>
	<a>
		<%= link_to t('model.fixed_cost.many'), fixed_costs_path %>
	</a>
	<a>
		<%= link_to t('model.selling.many'), sellings_path %>
	</a>
</p>