<div class="row">
  <div class="col-sm-6">
    <%= render 'table_stock_unit' %>
  </div>
  <div class="col-sm-6">
  	<%= render 'table_stock_movements' %>
    <%= render 'form_stock_movements' %>
</div>

<%= link_to t('edit'), edit_stock_unit_path(@stock_unit) %> </br>
<%= link_to t('back'), stock_units_path() %>