<!DOCTYPE html>
<html>
  <head>
    <title>Chpk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/navbar' %>

    <div class="container">
      <%= yield %>
      <p id="notice"><%= notice %></p>
      <p id="alert" style="color: red"><%= alert %></p>
    <div>
  </body>
</html>
